<section class="">
    
</section>
<section class="background-img">
    <div class="page-title">福田区应急物资仓库一张图</div>
    <!-- <img class="img" src="assets/images/111.png" alt=""> -->
</section>
<section class="login-box">
    <form [formGroup]="form">
        <h3 class="form-title">用户登录 <span class="form-title-en">LOGIN</span></h3>
        <section class="form-content">
            <div class="input-box">
                <!-- <span class="red">*</span> -->
                <mat-form-field class="input">
                  <label matPrefix>账号：</label>
                  <input matInput formControlName="account">
                </mat-form-field>
              </div>
              <div class="input-box">
                <!-- <span class="red">*</span> -->
                <mat-form-field class="input">
                  <label matPrefix>密码：</label>
                  <input matInput type="password" formControlName="password">
                </mat-form-field>
              </div>
        </section>
    </form>
    <button mat-button color="primary" class="login-btn" (click)="login()">登录</button>
</section>